<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"   
    xmlns:cache="http://www.springframework.org/schema/cache"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"  
    xmlns:security="http://www.springframework.org/schema/security"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/security   
        http://www.springframework.org/schema/security/spring-security-3.2.xsd  
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/data/jpa   
        http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd  
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">  
  		
  
    <!-- Activates annotation-based bean configuration -->  
    <context:annotation-config />  
  
    <!-- Scans for application @Components to deploy -->  
    <context:component-scan base-package="com.doc" />  
  
    <!-- 数据库配置文件位置 -->  
    <context:property-placeholder location="classpath:conf.properties" />  
    
   <!-- 数据源 org.apache.commons.dbcp.BasicDataSource com.alibaba.druid.pool.DruidDataSource -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
	<property name="driverClassName" value="${driver_class}" />
	<property name="url" value="${driver_url}" />
	<property name="username" value="${driver_username}" />
	<property name="password" value="${driver_password}" />
	<!-- druid 连接池的 -->
	<property name="filters" value="stat" />
	 
    <!-- 连接池最大使用连接数量 -->  
    <property name="maxActive" value="${maxActive}" />  
    <!-- 初始化大小 -->  
    <property name="initialSize" value="${initialSize}" />  
    <!-- 获取连接最大等待时间 -->  
    <property name="maxWait" value="${maxWait}" />  
    <!-- 连接池最小空闲 -->  
    <property name="minIdle" value="${minIdle}" />  
    <!-- 逐出连接的检测时间间隔 -->  
    <property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />  
    <!-- 最小逐出时间 -->  
    <property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" /> 
     
    <!-- 测试有效用的SQL Query -->  
    <property name="validationQuery" value="SELECT 'x'" />  
    <!-- 连接空闲时测试是否有效 -->  
    <property name="testWhileIdle" value="true" />  
    <!-- 获取连接时测试是否有效 -->  
    <property name="testOnBorrow" value="false" />  
    <!-- 归还连接时是否测试有效 -->  
    <property name="testOnReturn" value="false" /> 
	</bean>
 
  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="mapperLocations" value="classpath*:mapper/*xml" />   
    </bean>  
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定扫描的包名 
		如果扫描多个包，每个包中间使用半角逗号分隔
		-->
		<property name="basePackage" value="com.doc.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
       
   
    <!-- 使用annotation注解方式配置事务 -->  
    <tx:annotation-driven transaction-manager="transactionManager" />  
  
    <!-- 使用JDBC事物 -->  
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
  
    <!-- AOP配置事物 -->  
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">  
        <tx:attributes>  
           <tx:method name="save*" propagation="REQUIRED" />
           <tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="batch*" propagation="REQUIRED" />
			
			<tx:method name="find*" propagation="REQUIRED"   read-only="true"/>
			<tx:method name="get*" propagation="REQUIRED"  read-only="true"/>
			<tx:method name="*"  propagation="REQUIRED" read-only="true"/>
        </tx:attributes>  
    </tx:advice>  
      
   
       
      
    <!-- 配置AOP切面 -->  
    <aop:config>  
        <aop:pointcut id="transactionPointcut" expression="execution(* com.doc.service.*.*(..))"/>  
        <aop:advisor pointcut-ref="transactionPointcut" advice-ref="transactionAdvice"/>  
    </aop:config>  
  
</beans>  